/*
  +------------------------------------------------------------------+
  | Green-Beast.com                                                  |
  | CSS: Smart Corners                                               |
  | Cascading Style Sheet                                            |
  | Copyright Aug 2006                                               |
  | Use with attribution by visible link please!                     |
  | Attribute to: <a href="http://green-beast.com/">Mike Cherim</a>  |
  +------------------------------------------------------------------+
*/

/* here's the box... the image is the upper-left corner */
#csc {
  background : #669900 url("csc_tl.png.gnt?ln=css/smart_corners") no-repeat;
  width : 100%;
  height : auto;
  position : relative;
  padding : 30px 40px;
}

/* these are the other three spans. classes were used to allow multiuse on a page */
.tr, .bl, .br {
  position : absolute;
  width : 39px;
  height : 39px;  /* corner images are 40x40 */
  display : block;
  margin-bottom : -1px;  /* this is for IE */
}

/* change position and image: top-right */
.tr {
  background : transparent url("csc_tr.png.gnt?ln=css/smart_corners") no-repeat;
  top : 0;
  right : 0;
}

/* change position and image: bottom-left */
.bl {
  background : transparent url("csc_bl.png.gnt?ln=css/smart_corners") no-repeat;
  bottom : 0;
  left : 0;
}

/* change position and image: bottom-right */
.br {
  background : transparent url("csc_br.png.gnt?ln=css/smart_corners") no-repeat;
  right : 0;
  bottom : 0;
}


/* End Styles */
