<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <!-- When using Mojarra 2.x, enable allowTextChildren configuration -->
  <context-param>
    <param-name>com.sun.faces.allowTextChildren</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.expressionFactory</param-name>
    <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
  </context-param>

  <!-- -->

  <filter>
    <filter-name>API</filter-name>
    <filter-class>comy.controller.Api</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>API</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- -->

  <filter>
    <filter-name>QrCode</filter-name>
    <filter-class>comy.controller.QrCode</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>QrCode</filter-name>
    <url-pattern>/user/qrcode</url-pattern>
  </filter-mapping>

  <!-- -->

  <filter>
    <filter-name>AdminChecker</filter-name>
    <filter-class>comy.controller.OpenIdAdminChecker</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>AdminChecker</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>

  <!-- -->

  <servlet>
    <servlet-name>FacesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FacesServlet</servlet-name>
    <url-pattern>*.gnt</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>

  <!-- Hide JSF templates -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Hide JSF templates</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- -->

  <servlet>
    <servlet-name>PrimeFaces</servlet-name>
    <servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PrimeFaces</servlet-name>
    <url-pattern>/primefaces_resource/*</url-pattern>
  </servlet-mapping>

  <!-- -->

  <welcome-file-list>
    <!-- http://stackoverflow.com/questions/3297634/explicit-directory-for-jsf-template-files -->
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
