<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

  <!-- S3m filters -->

  <filter>
    <filter-name>S3m</filter-name>
    <filter-class>s3m.controller.Dispatcher</filter-class>
    <async-supported>true</async-supported>
  </filter>

  <filter-mapping>
    <filter-name>S3m</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Protect JSF admin pages -->

  <filter>
    <filter-name>PageLevelAuthenticator</filter-name>
    <filter-class>comy.controller.PageLevelAuthenticator</filter-class>
  </filter>
  <filter>
    <filter-name>OpenIdReturnPoint</filter-name>
    <filter-class>comy.controller.OpenIdReturnPoint</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>PageLevelAuthenticator</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OpenIdReturnPoint</filter-name>
    <url-pattern>/open_id_return_point</url-pattern>
  </filter-mapping>

  <!-- JSF -->

  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>

  <!-- Hide JSF .xhtml templates -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Hide JSF .xhtml templates</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Hide JSF .xhtml templates</role-name>
    </auth-constraint>
  </security-constraint>

  <servlet>
    <servlet-name>FacesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacesServlet</servlet-name>
    <url-pattern>*.gnt</url-pattern>
  </servlet-mapping>

  <!-- http://stackoverflow.com/questions/3297634/explicit-directory-for-jsf-template-files -->

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.gnt</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/errors/500.gnt</location>
  </error-page>
</web-app>
